body{
    display: flex;
    flex-direction:column;
}


header{
    background-color:orange;
    border: 3px rgb(55, 55, 142) solid;
    margin-bottom: 30px;
    flex-basis: 100px;
    margin-top: 25px;
    }


    .menu{
        border: 2px red solid;
        display: inline-flex;
        width: 40%;
        height: 65px;
        padding: 10px;
        justify-content: space-between;

    }







.navigation{
    display: flex;
    justify-content: center;
    width:-;
    height: 35px;
    margin-bottom: 40px;
    margin-top: -;

}


    .nav1{
        background-color: white;
        border: 3px  black solid;
        height: 40px;
        margin-right: 25px;
        flex-basis: 10%;
        background-color: palevioletred;
    }
     
    .nav2{background-color: white;
        border: 3px  black solid;
        height: 40px;
        margin-right: 25px;
        flex-basis: 10%;
        background-color: palevioletred;

    }
    .nav3{
        background-color: white;
        border: 3px  black solid;
        height: 40px;
        margin-right: 25px;
        flex-basis: 10%;
        background-color: palevioletred;
    }

    .nav4{
        background-color: white;
        border: 3px  black solid;
        height: 40px;
        margin-left: -;
        flex-basis: 10%;
        background-color: palevioletred;
    }



.aside{ 
    border: 3px black solid;
    flex-basis: 85%;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(82, 203, 163);
}
.main{
    border: 3px black solid;
    flex-basis: 15%;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}



    
section {
    
    
    margin-bottom: 30px;
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    

}

footer{
    background-color: rgb(139, 139, 236);
    border: 3px black solid;
    margin-bottom: 20px;
    flex-basis: 200px;
}